:root {
    --background-color: #000;
    --text-color: #F5EBEB;
    --accent-color: #A93B59;
    --addtext: #FFFFFF;
    --addaccent-color: rgba(185, 106, 127, 0.50);
    --cardtitle-color: #1F140F;
    --carddesk-color: #444;

}
body {
    background-color: var(--background-color);
    font-family:"Source Sans 3" ;
}

.container {
    width: 1328px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
}
/* font-family: "Spline Sans", sans-serif; */
/* font-family: "Rubik", sans-serif; */
/* font-family: "Playfair Display", serif; */
/* font-family: "Source Sans 3", sans-serif; */

.header {
    padding-top: 24px;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    font-family: "Spline Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    text-transform: uppercase;
}

.header-list {
    display: flex;
    gap: 32px;
}

.header-link {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}




.hero {
    padding-top: 109px;
    padding-bottom: 94px;
    background-image: url(../img/herobg.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 768px 640px;
}

.hero-title {

}

.hero-title1 {
    color: var(--accent-color);
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    display: block;
}
.hero-title2 {
    display: inline-block;
    color: var(--text-color);
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 400;
    line-height: 60px; /* 69.767% */
    text-transform: uppercase;
    margin-left: 110px;
    margin-right: 24px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.hero-title3 {
    color: var(--accent-color);
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}
.hero-text {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: capitalize;
    margin-left: 110px;
    margin-bottom: 42px;
}
.hero-btn {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    background-color: var(--accent-color);
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 437px;
    border-radius: 15px;
    border: none;
    margin-left: 110px;
    margin-bottom: 437px;
}

.hero-list {
    display: flex;
    gap: 124px;
    justify-content: center;
}

.hero-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-desk {
    color: var(--addtext);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
    width: 201px;
    margin-top: 2px;
}

.hero-item:nth-child(2) > .hero-desk {
    width: 215px;
}
 /* Секція каталог */
 .catalog-title {
    color: var(--accent-color);
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 101px;
}

.catalog-box {
    border-radius: 15px;
    background: rgba(185, 106, 127, 0.50);
}

.catalog-subject{
    color: var(--addtext);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 20px;
}

.catalog-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #B96A7F;
    border-radius: 15px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.catalog-item {
    display: flex;
    align-items: center;
    gap: 74px;
}

.catalog-item:nth-child(2) {
    gap: 157px;
}

.catalog-item:nth-child(3) {
    gap: 70px;
}

.catalog-item:nth-child(4) {
    gap: 148px;
}

.catalog-item:nth-child(5) {
    gap: 63px;
}

.catalog-text{
    color: var(--addtext);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.27;
}

.catalog-img {
    width: 16px;
    height: 16px;
    fill: var(--addtext);
}

.catalog-heading{
    color: var(--addtext);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
}

.cotalog-icon {
    width: 28px;
    height: 28px;
    fill: var(--accent-color);
}

.catalog-price{
    color: var(--background-color);
    font-size: 34px;
    font-weight: 300;
    line-height: 1.17;
}
.catalog-desk{
    color: var(--background-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
}
.catalog-btn{
    color: var(--addtext);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25; /* 125% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

/* секція details */
.details-title{
    color: var(--accent-color);
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
}

.details-subtitle{
    color: var(--addtext);
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;

}

.details-text{
    color: var(--addtext);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
}

.details-desk{
    color: var(--addtext);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
}