body{
    background-color: black;
    font-family: "Source Sans 3", sans-serif;
}
/* font-family: "Playfair Display", serif; */
/* font-family: "Source Sans 3", sans-serif; */
/* font-family: "Spline Sans", sans-serif; */
.container{
    width: 1328px;
    padding-left: 8px;
    padding-right: 8px;
}
.header{
    padding-top: 24px;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    gap: 1px;
    flex-direction: column;
    color: #F5EBEB;
    font-family: "Spline Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header-img {
    width: 42px;
    margin: 0 auto;
}

.header-list {
    display: flex;
    gap: 32px;
}

.header-link{
   color: #F5EBEB;
text-align: center;
font-size: 20px;
font-weight: 400;
line-height: normal; 
}

.hero{
    padding-top: 109px;
    padding-bottom: 94px;
}

.hero > .container {
    padding: 0px 110px;
    display: flex;
    flex-direction: column;
    gap: 437px;
    position: relative;
}

.hero-title{
    color:#A93B59;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    padding-top: 72px;
}

.hero-pos {
    color: var(--button-and-text-color, #A93B59);
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 500;
    font-style: italic;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: -110px; 
}

.hero-box {
    display: flex;
    align-content: flex-end;
    position: relative;
}

.hero-span {
    color: #F5EBEB;
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
}

.hero-kviti {
    position: absolute;
    bottom: -16px;
    left: 384px;
    color: var(--button-and-text-color, #A93B59);
    font-style: italic;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
}

.hero-text{
    color: #F5EBEB;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
margin-top: 24px;
margin-bottom: 42px;
}

.hero-btn{
    color: #F5EBEB;
background-color: #A93B59;
border-radius: 15px;
border: none;
font-size: 24px;
font-weight: 400;
line-height: normal;
padding: 16px 125.5px;
animation-name: btn-move;
animation-duration: 1000ms;
animation-timing-function: ease;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes btn-move {
    0% {
    transform: scale(0.8);
    background-color: #A93B59;
    color: #F5EBEB;
    }
    50% {
        transform: scale(1);
        background-color: pink;
        color: red;
    }
    100% {
        transform: scale(1);
        background-color: pink;
        color: red;
    }
}

.hero-list {
    display: flex;
    justify-content: space-between;
    padding: 0 114px;
}

.hero-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.hero-img {
    margin: 0 auto;
    width: 40px;
}

.hero-desk{
    color: #FFF;
    text-align: center;
    font-family: "Source Sans 3";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    width: 201px;
}

.hero-list > .hero-item:nth-child(2) > .hero-desk {
    width: 215px;
}

.hero-kviti-img {
    position: absolute;
    top: 0;
    right: -70px;
    z-index: -1;
}

.hero-elipse-img {
    position: absolute;
    top: 200px;
    right: 275px;
    z-index: -2;
}

.catalog{
    padding-bottom: 92px;
}

.catalog > .container {
    padding: 0 101px;
}

.catalog-title{
    color:#A93B59;
font-family: "Playfair Display";
font-size: 36px;
font-weight: 600;
line-height: normal;
position: relative;
top: 0;
left: 285px;
}

.catalog-border {
    position: absolute;
    top: 46px;
    left: -9860px;
    border: 1px solid #A93B59;
    width: 10000px;
}

.catalog-box {
    border-radius: 15px;
    background: rgba(185, 106, 127, 0.50);
    margin: 100px 13px 50px 13px;
}

.catalog-caption{
    color: #FFF;
text-align: center;
font-family: "Playfair Display";
font-size: 36px;
font-weight: 600;
line-height: normal;
}

.catalog-list {
    border-radius: 15px;
    background: #B96A7F;
    padding: 20.5px 25px;
    display: flex;
    justify-content: space-between;
}

.catalog-list > .catalog-item:nth-child(1) {
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.catalog-list > .catalog-item:nth-child(2) {
    display: flex;
    width: 230px; 
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.catalog-list > .catalog-item:nth-child(3) {
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.catalog-list > .catalog-item:nth-child(4) {
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.catalog-list > .catalog-item:nth-child(5) {
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.catalog-text{
    color: #FFF;
font-size: 18px;
font-weight: 300;
line-height: normal;
}

.hits-title{
    color: #FFF;
text-align: center;
font-family: "Playfair Display";
font-size: 36px;
font-weight: 600;
line-height: normal;
margin-bottom: 20px;
}

.hits-list{
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    row-gap: 30px;
    justify-content: center;
}
.hits-item{
    flex-basis: calc((100% - 150px) / 3 );
    position: relative;
    border-radius: 15px;
    height: 410px;
    background-color: white;
}
.hits-flowers{
    width: 100%;
    
}
.hits-img{
    position: absolute;
    top: 14px;
    right: 15px;
}
.hits-caption{
font-size: 34px;
font-weight: 300;
line-height: normal;
}

.hits-text{
    color: #444;
font-size: 16px;
font-weight: 300;
line-height: normal;
}

.hits-btn{
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 1.6px;
text-transform: uppercase;
}

.details{
    padding-bottom: 132px;
}

.details-title{
    color:#A93B59;
font-family: "Playfair Display";
font-size: 36px;
font-weight: 600;
line-height: normal;
}

.detalis-caption{
    color: #FFF;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.detalis-box{
    position: relative;
    width: 659px;
}
.detalis-wrap{
    background-color: rgba(100, 0, 0, 0.5);
    position: absolute;
    top: 34.7%;
    left: 50%;
    width:509px;
    /* width: 100%; */
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 0;
    transform: rotate(90deg);
    transform: translate(-50% -50%);
}
.detalis-wrap:hover{
    opacity: 1;
}
.detalis-lorem{
    color: red;
}
.detalis-text{
    color: #FFF;
font-size: 20px;
font-weight: 300;
line-height: normal;
}
/*модальне вікно*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(150, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1000ms ;
}

.is-hidden{
    opacity: 0;
pointer-events: none;
}

.is-hidden .modal {
    transform: translate(2000px, 2000px) rotate(90deg);
    transition: transform 1s;
} 

.modal {
background-color: white;
padding: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 1s;
}
.modal-title{
    color: palevioletred;
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}
.modal-signature {
    color: red;
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
}
.modal-input {
width: 448px;
height: 40px;
display: block;
margin-top: 4px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
padding-left: 50px;
padding-right: 30px;
}





.modal-com {
    width: 448px;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
resize: none;
padding: 12px 16px;
color: rgba(117, 117, 117, 0.50);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
margin-bottom: 20px;
display: block;
}
.modal-chek {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wraper{
position: relative;
}


.chek-input {
    width: 16px;
height: 15px;
}

.modal-icon{
    width: 15px;
    height: 15px;
    fill: #444;
    position: absolute;
    top: 11px;
    left: 30px;

}

.modal-input:hover,
.modal-input:focus {
border: none;
outline: 1px solid red;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
fill:  red;
}

.chek-span {
    color: #757575;
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin-left: 8px;
margin-right: 4px;
}
.check-link {
    color: red;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}
.modal-btn {
    width: 200px;
height: 50px;
border-radius: 4px;
background: pink;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border: none;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
display: block;
}

.modal-btn:active {
background-color: red;
}

.btn-close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    outline: 1px solid gray;
}


.btn-close:hover,
.btn-close:focus {
/* border: none;
outline: 1px solid gray; */
.icon-close {
fill: red;
}
}

.icon-close {
    width: 20px;
    height: 20px;
    fill: green;
}




