:root {
    --background-color: #000;
    --text-color: #F5EBEB;
--accent-color: #A93B59;
--addtext: #FFFFFF;
--addaccent-color: rgba(185, 106, 127, 0.50);
--cardtitle-color: #1F140F;
--carddesk-color: #444;

}